.EditPContainer{
	width: calc(100% - 0.5rem);
	max-width: 1100px;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	flex: none;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
    line-height: 1.25;
	padding-top: 1.5rem;
}
.accountEdit{
	flex-direction: row;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    font-size: 12px;
    display: flex;
    margin-bottom: 5px;
	background-color: #3c394b;
}
.accountLeftSection{
	flex: none;
    width: 250px;
    padding: 20px 20px 20px 50px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
	background-color: transparent;
}
.EditTitle{
	background-color: transparent;
	font-weight: 400;
	padding-left: 1rem
}
.editBtn{
	min-width: 128px;
    padding: 7px 10px;
    overflow: hidden;
    position: relative;
	margin-bottom: 10px;
}
.accountRightSection{
	flex: 1;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: #353242;
}
.leftPad{
	padding-left: 160px;
}