html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.profileContainer{
	max-width: 900px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.profileBox{
	margin-top: .5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 0 0 1px rgb(255 255 255 / 10%);
	position: relative;
    display: block;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
	border-bottom: 1px solid #292733;
}
.profileHeader{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 1.5rem;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
	text-align: left;
	background-color: #2a2832;
	word-wrap: break-word;
	border-radius: 16px;
}
.imgItem{
	z-index: 1;
	margin-right: .75rem;
	border-radius: 100px;
	vertical-align: middle;
	border-style: none;
}
.name-links{
	margin-right: .75rem;
	background-color: transparent;
	
}
.ornament{	
	pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 8px solid orange;
    border-left: 40px solid orange;
    border-top: 40px solid transparent;
	background-color: transparent;
}
.profilebody{
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: #353242;
}
.calendarHolder{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: transparent;
}
/* Your profile span */
.userLinks{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	display: block;
	background-color: transparent;
}
.userLinks a{
	background-color: transparent;
	color: #749bf0;
	text-decoration: none;
}
.userLinks span{
	background-color: transparent;
}
.menuOpener{
	color: #d9d9d9;
	cursor: pointer;
	margin-left: 40px;
}
.menuOpener:hover{
	color: #f2f2f2;	
}

#dropdown{
	display: none;
	list-style: none;
}
#dropdown.active{
	background: rgba(49,44,57,.97);
	box-shadow: 0 3px 10px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(255 255 255 / 20%);
	display: block;
    position: absolute;
    z-index: 50;
    left: 1rem;
    right: unset;
	border-radius: 8px;
	padding: .1rem 1px;
	border-top: none;
    margin-top: 12px;
	margin-bottom: 1rem;
	margin-left: 30px;
	list-style: none;
}
.item{
	background: transparent;
	display: block;
    position: relative;
    min-width: 20rem;
	padding: .5rem 1rem;
	margin: 0;
	border: none;
}
.item a{
	color: #d9d9d9;
	text-decoration: none;
	text-align: left;
}
.item a:hover{
	color: #f2f2f2;
}