*{
	/*margin: 10;
	padding: 10;*/	
	/*Feel free to try other colors and fonts.*/
	box-sizing: border-box;
	background-color: #2e2942;
}
html{
	font-family: sans-serif;
	line-height: 1.15;
	height: 100%;
}
head{
	display: none;
}
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
nav{
	display: flex;
	justify-content: space between;
	align-items: center;
}
.mainLinks{
	flex: 1;
	text-align: right;
}
.mainLinks ul li{
	list-style: none;
	display: inline-block;
	padding-right: 2rem; 
	padding-left: 2rem;
	position: relative;
}
.mainLinks ul li a{
	color: #d9d9d9;
	text-decoration: none;
	background-color: transparent;
	font-size: 1.1rem;
}
.mainLinks ul li a:hover{
	color: #f2f2f2;
}
.mainLinks ul li::after{
	content: '';
	width: 0%;
	height: 1px;
	background: #f2f2f2;
	display: block;
	margin: auto;
}
.mainLinks ul li:hover::after{	
	width: 100%;
}
body{
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,ms pgothic,roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f2f2f2;
    text-align: left;
    background-color: #2e2942;
}
.titles{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 2px;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
}
.indent{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	display: flex;
}
.semititle{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
	background-color: transparent;
}
.textbox{
	margin-top: .5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 16px;
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3c394b;
    background-clip: border-box;
	padding-left: 1.15rem;
	padding-right: 1.15rem;
	padding-top: 1.10rem;
	padding-bottom:1.10rem;
}
.footer{
	font-size: .8rem;
	margin-top: .75rem;
	margin-bottom: 1.25rem;
	padding-bottom: 1.1rem;
	text-align: center;
	font-weight: 400;
	box-sizing: border-box;
}

/* All made for login.html */
/* I need to look over this
   style because something is
   messed up on this page.  */
.loginBox{
	width: 400px;
	height: 245px;
	margin: 0 auto;
	margin-top: 50px;
	background: #3c394b;
	padding: 5px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.information{
	top: 100px;
	margin: auto;
	width: 390px;
	background: transparent;
}
.inputField{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	outline: none;
	background-color: #222222;
	color: #999;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}
.loginBtn{
	width: 20%;
	height: 2.2rem;
	padding: 8px 10px;
	cursor: pointer;
	display: block;
	margin-top: 20px;
	border: 0;
	outline: none;
	border-radius: 25px;
	background-color: #007bff;
	float: right;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #d9d9d9;
}
.loginBtn:hover{
	background-color: #0568eb;
}
.titleInLogin{
	background:transparent;
}
.passReset{
	color: #ffcc22;
	font-size: 16px;
	background: none;
}
.passReset:hover{
	color: #f2f2f2;
}
.signUpBox{
	width: 400px;
	height: 70px;
	margin: auto;
	background: #444444;
	padding: 5px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.Error{
  text-align: left;
  margin: 0;
  font-size: 12px;
  color: #749bf0;
  background-color: transparent;
  opacity: 0;
}
/* For sign-up.html */
/* similar to textbox
   but smaller      */
.containersignup{
	width: 50%;
	margin: auto;
}
.signupform{
    border: none;
    border-radius: 16px;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3c394b;
    background-clip: border-box;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.10rem;
	padding-bottom:1.10rem;
}