.EditPContainer{
	width: calc(100% - 0.5rem);
	max-width: 1100px;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	flex: none;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
    line-height: 1.25;
	padding-top: 1.5rem;
}
.accountEdit{
	flex-direction: row;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    font-size: 12px;
    display: flex;
    margin-bottom: 5px;
	background-color: #3c394b;
}
.accountLeftSection{
	flex: none;
    width: 200px;
    padding: 20px 20px 20px 50px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
	background-color: transparent;
}
.EditTitle{
	background-color: transparent;
	font-weight: 400;
}
.editBtn{
	margin-left: 1rem;
	min-width: 128px;
    padding: 7px 10px;
    overflow: hidden;
    position: relative;
	margin-bottom: 10px;
}
.accountRightSection{
	flex: 1;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: #353242;
}
.littleHead{
	background-color: transparent;
	font-size: 1rem;
	font-weight: 585;
	margin-bottom: 0.75rem;
}
.leftPad{
	padding-left: 2rem;
}
.inputsHolder{
	display: flex;
	background-color: transparent;
}
label{
	background-color: transparent;
}
.timeInputBox{
	margin-top: 1.1rem;
    width: 30%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e2e0e7;
    background-color: #2a2a30;
    border: 1px solid #584e69;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-left: 0.7rem;
	margin-right: 0.3rem;
}
.marginBot{
	background-color: transparent;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.checkboxHolder{
	margin: 0 0.5rem 0 0.5rem;
	background-color: transparent;
	display: flex;
	flex-direction: column;
}
.checkboxes{
	background-color: transparent;
	display: flex;
	flex-direction: row;
}
.threeLeft{
	margin-top: 0.61rem;
}
.Ree{
	background-color: transparent;
	margin-left:0.5rem;
	margin-bottom:0.5rem;
	display: flex;
	flex-direction: column;
}
