.GroupBox{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3c394b;
    background-clip: border-box;
	margin-top: .5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 16px;
}
.RemoveBG{
	background-color: transparent;
}
.GroupContents{
	display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
	padding-bottom: 1.5rem;
	flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
	background-color: #3c394b;
	border-radius: 16px;
}
.invite{
	padding-left: 0.5rem;
}
.GroupLink{			  /*Will probably change*/
	background-color: transparent;
	margin-left: 1rem;
	color: #749bf0;
	font-size: 1.5rem;	
}
.makeGroupBtn{
	margin-left: 25px;
	height: 30px;
	color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
	font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.makeGroupBtn:hover{
	background-color:#0352a6;
	border-color: #0352a6;
}
a{
	background-color: transparent;
}
.GroupLink:hover{
	text-decoration: underline;
	color: #3de5eb;
}
.sectionHolder{
	margin-left: 1rem;
	margin-right: 1rem;
}
.firstBox{
	border-radius: 16px 16px 0 0;
	border-bottom: 1px solid #292733;
	margin-top: .2rem;
    margin-bottom: 0rem;
}
.secondBox{
    background-color: #292633;
	border-radius: 0 0 16px 16px;
	margin-top: 0rem;
    margin-bottom: 1rem;
}
.fix-top-radius{
	border-radius: 16px 16px 16px 16px;
	flex-direction: row;
}
.Euser-helper{
	background-color: #292633;
}
.Eusers{
	font-size: .8rem;
}
/*Create Group section */
.nameInput{
	width: 100%;
    max-width: 1125px;
    padding: 10px;
    margin: 0 2rem;
    font-size: 1rem;
    color: #ffffff;
	background-color: transparent;
}
.textFix{
	margin-left: -2.5rem;
	padding-top: 1rem;
}
.smaller{
	margin-left: 3rem;
	margin-right:3rem;
}
.Extra{
	text-align: right;
	background-color: transparent;
}