html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.profileContainer{
	max-width: 900px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.profileBox{
	margin-top: .5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 0 0 1px rgb(255 255 255 / 10%);
	position: relative;
    display: block;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
	border-bottom: 1px solid #292733;
}
.linkBtns{
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: #2a2832;
	position: relative;
	max-width: 900px;
	width: 100%;
}
.firstLinkm{
	margin-left: 4rem;
}
.firstLinko{
	margin-left: 5rem;
}
.otherLinks{
	margin-left: 1.5rem;
}
.pageBtns{
	background-color: #666;
	color: #fff;
	padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
	border-color: #666666;
}
.pageBtns:hover{
	background-color: #3d3a3a;
}
.profileHeader{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 1.5rem;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
	text-align: left;
	background-color: #2a2832;
	word-wrap: break-word;
	border-radius: 16px;
}
.imgItem{
	z-index: 1;
	margin-right: .75rem;
	border-radius: 100px;
	vertical-align: middle;
	border-style: none;
}
.name-links{
	margin-right: .75rem;
	background-color: transparent;
	
}
.ornament{	
	pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 8px solid orange;
    border-left: 40px solid orange;
    border-top: 40px solid transparent;
	background-color: transparent;
}
.profilebody{
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: #353242;
}
.calendarHolder{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: transparent;
}
/* Your profile span */
.userLinks{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	display: block;
	background-color: transparent;
}
.userLinks a{
	background-color: transparent;
	color: #749bf0;
	text-decoration: none;
}
.userLinks span{
	background-color: transparent;
}
.menuOpener{
	color: #d9d9d9;
	cursor: pointer;
	margin-left: 40px;
}
.menuOpener:hover{
	color: #f2f2f2;	
}

#dropdown{
	display: none;
	list-style: none;
}
#dropdown.active{
	background: rgba(49,44,57,.97);
	box-shadow: 0 3px 10px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(255 255 255 / 20%);
	display: block;
    position: absolute;
    z-index: 50;
    left: 1rem;
    right: unset;
	border-radius: 8px;
	padding: .1rem 1px;
	border-top: none;
    margin-top: 12px;
	margin-bottom: 1rem;
	margin-left: 30px;
	list-style: none;
}
.item{
	background: transparent;
	display: block;
    position: relative;
    min-width: 20rem;
	padding: .5rem 1rem;
	margin: 0;
	border: none;
}
.item a{
	color: #d9d9d9;
	text-decoration: none;
	text-align: left;
}
.item a:hover{
	color: #f2f2f2;
}
.centerText{
	text-align: center;
	font-size: 3rem;
	padding-top: 5rem;
	font-weight: 500;
}
/* Fr.js code CSS starts here. */
.friendBox{
	padding-top: 1rem;
	padding-bottom: 1.4rem;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1rem;
	width: calc(100% - 40px);
    max-width: 1100px;
	background-color: #3c394b;/*#2e3645;*/
}
.useritems{
	background-color: #111112;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(280px,320px));
    justify-content: center;
}
.userBox{
	background: rgb(31, 27, 39);
	padding:.5rem .5rem .5rem .5rem;
    display: inline-block;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    position: relative;
    overflow: hidden
}
.forinvite{
	padding-top: 1rem;
	height: 105px;
}
.FriendLink{
	padding-left: 1rem;
	font-size: 1.2rem;
	line-height: 2.5;
	font-weight: 340;
	text-decoration: none;
	background-color: rgb(31, 27, 39);
	color: #e2e0e7;
}
.FriendLink:hover{
	color: #f2f2f2;
}

/* Calendar section */
.removeBG{
	background-color: transparent;
}
.GreenBox{
	background-color: #42ffb0;
	width: 300px;
	/*padding: 1rem 1rem 1rem 1rem;*/
	border: 1px solid #186e4a;
}
.Leff{
	margin-left: 0.6rem; /* fixes calendar spacing a little. Not entirely.*/
}
.GrayBox{
	background-color: #343a3d;
	width: 300px;
	border: 1px solid Gray;
	/*padding: 1rem 1rem 1rem 1rem;*/
}
.keyBox{
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.margLeft{
	margin-left: 10px;
}
.EditTimeBox{
	width: 100px;
}
.rowDisplay{
	background-color: transparent;
	display: flex;
	flex-direction: row;
}
.fixtext{
	position: relative;
	top: 12px;
}
.Efixtext{
	position: relative;
	top: 7.5px;
}
.calHolder{
	background-color: transparent;
}
.Days{
	position: relative;
	top: 15px;
	background-color: transparent;
	width: 300px;
}
.first{
	margin-left: 90px;
}
.fixWid{
	position: relative;
	top: 7.5px;
	margin-left: 78px;
	background-color: transparent;
}
.firstU{
	margin-left: 70px;
}
/* Group Invite css */
.BtnsHolder{
	background-color: transparent;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.acceptbtn{
	background-color: #51ed94;
	border-color: #1ee387;
}
.declinebtn{
	background-color: #f05167;
	border-color: #e6223d;
	margin-left: 0.5rem;
}