.Searchbox{
	margin-top: 1rem;
	display: flex;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e2e0e7;
    background-color: #2f2a37;
    background-clip: padding-box;
    border: 1px solid #584e66;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;	
	box-sizing: border-box;
}
.textbox{
	margin-top: 2rem;
}
.titles{
	background-color: transparent;
}
a{
	text-decoration: none;
}
.results{
	background-color: transparent;
}
.results:hover{
	background-color: rgba(49,44,57,.97);
	border-radius: .25rem;
}
.FixLinks{
	padding-left: 1rem;
	font-size: 1.2rem;
	line-height: 2.5;
	font-weight: 340;
	text-decoration: none;
	background-color: transparent;
	color: #e2e0e7;
}
.FixLinks:hover{
	color: #f2f2f2;
}